@import 'tailwindcss';

@theme {
  --font-mc: 'NataSans', sans-serif;
  --font-weight-semibold: 600;

  --color-primary: #0a0923;
  --color-secondary: #181737;
  --color-detail: #497b9d;
  --color-detail-hover: #385f79;
  --color-detail-backdrop: #385f7920;
  --color-backdrop: rgb(0 0 0 / 20%);
  --color-text-color: #c5c1e0;

  --shadow-detail-highlight: 0 0 0 100vw var(--color-detail-backdrop);

  .no-callout {
    '-webkit-touch-callout': 'none'
  }
}

@font-face {
  font-family: 'NataSans';
  src: url('/fonts/NataSans-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'NataSans';
  src: url('/fonts/NataSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'NataSans';
  src: url('/fonts/NataSans-Bold.woff2') format('woff2');
  font-weight: 700;
}

@layer utilities {
  .no-callout {
    -webkit-touch-callout: none;
  }
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}
